<ng-container *ngIf="playerForm" [formGroup]="playerForm">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-input type="text" [placeholder]="placeholder" formControlName="name" />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-segment formControlName="missionType">
        <ion-segment-button
          *ngFor="let missionType of missionTypes"
          [value]="missionType.value"
        >
          <ion-label>{{ missionType.name }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-segment formControlName="turnOrder">
        <ion-segment-button value="1">
          <ion-label>First</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Second</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-segment formControlName="playerType">
        <ion-segment-button value="attacker">
          <ion-label>Attacker</ion-label>
        </ion-segment-button>
        <ion-segment-button value="defender">
          <ion-label>Defender</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-button expand="block" fill="outline" (click)="setIsOpen(true)">Add Army</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="isOpen" (willDismiss)="setIsOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Army List</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setIsOpen(false)">Add</ion-button>
            <ion-button (click)="setIsOpen(false, true)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-item class="input-item">
        <ion-textarea formControlName="armyList" placeholder="Army List..." rows="25" />
      </ion-item>
    </ng-template>
  </ion-modal>
</ng-container>