<ion-app>
  <ng-template #elseBlock>
    One moment while we log you in...
  </ng-template>

  <ng-container *ngIf="isLoggedIn | async; else elseBlock">
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="army">
              <ion-icon name="skull-outline"></ion-icon>
              <ion-label>Armies</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="game">
              <ion-icon name="dice-outline"></ion-icon>
              <ion-label>Games</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
    </ion-footer>
  </ng-container>
</ion-app>
